<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Blogs</title>
  <link rel="stylesheet" href="/css/blogs.css">
</head>
<body>
  <%- include('navBar') %>
    <h1>All Blogs</h1>

    <div class="success-message-container">
      <% success_messages.forEach(message => { %>
        <div class="success-message">
          <p>
            <%= message %>
            <span class="close-btn" onclick="this.parentNode.style.display='none';">&times;</span>
          </p>
        </div>
      <% }); %>
    </div>

    <div class="blog-list-container">
      <ul>
        <% blogs.forEach(blog => { %>
          <li>
            <h2><%= blog.title %></h2>
            <p><%= blog.content %></p>
            <% if (blog.User && blog.User.id === user.id) { %>
              <a href="/blogs/edit/<%= blog.id %>">Edit</a>
              <form action="/blogs/delete/<%= blog.id %>?_method=DELETE" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this blog?');">
                <button type="submit">Delete</button>
              </form>    
            <% } %>
            <p>Posted By: <%= blog.User.username %></p>
          </li>
        <% }); %>
      </ul>
    </div>

    <a href="/blogs/create" class="create-blog-link button-primary">New Blog</a>
</body>
</html>
